@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral:wght@400;500;600&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* HEADER */
nav{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding-block: 20px;
    background-color: #ffc017;
    border-bottom: 1px solid rgb(25,25,25);
    position: fixed;
    top: 0px;
    z-index: 1;
}

#nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 750px;
}

#nav-options a{
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(25,25,25);
}

#nav-options button{
    background-color: rgb(25,25,25);
    padding: 10px;
    border-radius: 25px;
    border: none;
}

#nav-options button a {
    color: white;
}

#logo{
    position: absolute;
    left:15%;
}

#logo:hover{
    cursor: pointer;
}

header{
    background-color: #ffc017;
}

#header-bottom{
    display: flex;
    justify-content:flex-end;
    gap: 120px;
    position: relative;
    border-bottom: 1px solid rgb(25,25,25);
}

#header-bottom svg{
    max-width: 575px;
}

#header-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    width: 600px;
    padding-right: 75px;
    text-align: center;
}

#header-left h1{
    font-family: 'Spectral', serif;
    color: rgb(8,8,8);
    font-size: 6.5rem;
    font-weight: 500;
    padding-top: 90px;
}

#header-left h2{
    text-align: left;
    color: rgb(25,25,25);
    font-size: 1.5rem;
    margin-top: 25px;
    padding-right: 150px;
}

#header-left button{
    background-color: rgb(25,25,25);
    padding-block: 10px;
    border-radius: 25px;
    border: none;
    margin-top: 50px;
    width: 210px;
    font-size: 1.2rem;
}

#header-left button a {
    text-decoration: none;
    color: white;
}

/* MAIN */

article{
    border-bottom: 1px solid rgb(184, 184, 184);
    padding-bottom: 50px;
}
article #trending{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 15%;
    font-weight: bold;
    gap: 10px;
}

#trending-articles{
    display: flex;
    flex-wrap:wrap;
    margin: 0 15% 0 15%;
    justify-content: space-evenly;
}

.trending-n{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    position: relative;
    gap: 10px;
    margin-bottom: 15px;
}

.trending-n p:first-of-type{
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(184, 184, 184);
    font-size: 1.6rem;
    font-weight: bold;
}

.trending-n p img{
    width: 6%;
    border-radius: 100%;
    margin-top: 2px;
    margin-right: 10px;
}
.trending-n p:nth-of-type(2){
    display: flex;
    align-items: center;
    margin-inline: 50px;
    font-size: 0.85rem;
    font-weight: 500;   
}

.trending-n span:first-of-type{
    color: rgb(85, 85, 85);
}

.trending-n h3{
    margin-inline: 50px;
    font-weight: bold; 
}

.data{
    margin-inline: 50px;
    font-size: 0.9rem;
    color: rgb(85, 85, 85);
    display: flex;
    align-items: center;
    gap: 5px;
}

#mega-container{
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
}

aside{
    width: 45%;
}

aside p{
    font-size: 1rem;
    font-weight: bold;
}

#container1{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgb(225, 225, 225) ;
}

#container1 div{
    width: 25%;
    border: 1px solid rgb(184, 184, 184);
    padding: 10px;
    margin: 5px;
    font-size: 0.8rem;
    color: rgb(95, 95, 95);
}

#random-articles{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    gap: 50px;
    margin-right: 25px;
}

.container2{
    display: flex;
    padding: 10px;
}


#random-articles div p img:first-of-type{
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 100%;
}

.text{
    flex-direction: column;
    position: relative;
    padding: 50px;
}

#random-articles .name{
    margin-left: 50px;
    margin-top: 10px;
    color: rgb(8,8,8);
    
}

#random-articles div h3{
    line-height: 70px;
    font-size: 2rem;
    font-weight: bold;
    
}

#random-articles p{
    color: rgb(115, 115, 115);
    font-size: 1.4rem;
}

#random-articles span{
    display: flex;
    margin-top: 5px;
    color: rgb(115, 115, 115);
    font-size: 1rem;
    align-items: center;
}

#random-articles span button{
    background-color: rgb(225, 225, 225);
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    font-size: 0.8rem;
    color: rgb(115, 115, 115);
    margin-inline: 5px;
}

#random-articles div .image{
box-sizing: border-box;
    
}

.bookmark{
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.nav{
    background-color: white;
}