@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spectral:wght@400;500;600&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding-block: 20px;
    background-color: #ffc017;
    border-bottom: 1px solid rgb(25,25,25);
    position: sticky;
    top: 0px;
    z-index: 1;
}

#nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 750px;
}

#nav-options a{
    text-decoration: none;
    font-size: 0.9rem;
    color: rgb(25,25,25);
}

#nav-options button{
    background-color: rgb(25,25,25);
    padding: 10px;
    border-radius: 25px;
    border: none;
}

#nav-options button a {
    color: white;
}

#logo{
    position: absolute;
    left:12.5%;
}

#logo:hover{
    cursor: pointer;
}

header{
    background-color: #ffc017;
}

#header-bottom{
    display: flex;
    justify-content:flex-end;
    gap: 120px;
    position: relative;
    border-bottom: 1px solid rgb(25,25,25);
}

#header-bottom svg{
    max-width: 575px;
}

#header-left{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 12.5%;
    width: 600px;
    padding-right: 75px;
    text-align: center;
}

#header-left h1{
    font-family: 'Spectral', serif;
    color: rgb(8,8,8);
    font-size: 6.5rem;
    font-weight: 500;
    padding-top: 90px;
}

#header-left h2{
    text-align: left;
    color: rgb(25,25,25);
    font-size: 1.5rem;
    margin-top: 25px;
    padding-right: 150px;
}

#header-left button{
    background-color: rgb(25,25,25);
    padding-block: 10px;
    border-radius: 25px;
    border: none;
    margin-top: 50px;
    width: 210px;
    font-size: 1.2rem;
}

#header-left button a {
    text-decoration: none;
    color: white;
}